<%- include partials/header.ejs %>
<head>
  <link rel = "stylesheet" href = "TokenGraphAdsApp/public/stylesheets/collectionstyles.css">
</head>

<section id = "special" class = "py-5">
  <div class = "container">
      <div class = "title text-center py-5">
        <div class = "collectionheading">
          <h2 class = "position-relative d-inline-block">Selection</h2>
        </div>
      </div>

      <div class="row">
        <% ads.forEach(function(ad, index) { %>
          <% if (index % 4 === 0) { %>
            </div><div class="row"> 
          <% } %>
          <div class="col-md-6 col-lg-3 col-xl-3 p-2">
            <div class = "special-img position-relative overflow-hidden">
              <img src="<%= ad.imagePath %>" class="card-img-top" style="height: 400px;" alt="Image">
              <div class="card-body">
                <h5 class="card-title"><%= ad.title %></h5>
                <p class="card-text"><%= ad.description %></p>
                <p class="card-text"><%= ad.price %></p>
                <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>

</section>

<%- include partials/footer.ejs %>